* {
  padding: 0;
  margin: 0;
  font-family: arial;
}

body{
  background-color:  #333333;
}

nav{
  background-color:  #1a0d00;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  height: 55px;
  width: 100%;
}

header{
  background-image: url("./home/home-banner.jpg");
  background-position: center;
  height: 200px;
  margin-top: 55px;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
}

ul{
  padding: 12px;
  font-size: 23px;
}

.overlay{
  width: 10%;
  height: 100%;
  display: block;
  margin: 0 auto;
}

h1{
  width: 1000px;
  margin-top: 20px;
  color: black;
  text-align: center;
}

h2{
  text-align: center;
}

h3{
  text-align: center;
}

main{
  margin-top: 300px;
}

.home-section1{
  float: left;
  width: 1000px;
  margin-left: 60px;
  margin-top: 5px;
}

.home-section2{
  float: right;
  width: 400px;
  margin-right: 250px;
  margin-top: 25px;
}

p{
  color: white;
  margin-top: 10px;
  line-height: 30px;
}

h3{
  font-size: 25px;
  margin-top: 10px;
}

.verwachting{
  margin-left: -10px;
}

.map{
  width: 60%;
  margin-left: 40px;
  display: inline-block;
}

li.info{
  font-size: 20px;
  line-height: 25px;
  color: white;
  margin-left: 30px;

}

ul{
  list-style: none;
  color: white;
}

h4{
  font-size: 25px;
  margin-left: 43px;
}

.contact{
  width: 135%;
  margin-left: 40px;
}

.over{
  margin-left: 100px;
}

.jobs1{
  width: 110%;
}

.jobs2{
  width: 50%;
}

footer{
  width: 100%;
  background-color: #1a0d00;
  bottom: 0;
  position: absolute;
  height: 5%;
}

a{
  display: inline;
  text-decoration: none;
  text-align: center;
  color: white;
  text-decoration: none;
}

li{
  display: inline-block;
}

.footertext{
  text-align: center;
}

.Slides{
  width: 100%;
}
button{
  margin-top: 10px;
  margin-left: 90px;
}
